{include file="Common/top" title="首页" metas='' /}
{if condition="authority('InformCreate')"}
<script src="__PUBLIC__/js/multiple-select/multiple-select.js"></script>
<div class="main-container">
    <div class="padding-md">
        <ul class="breadcrumb">
            <li><span class="primary-font"><i class="icon-home"></i></span><a href="__PRO_PATH__/">首页</a></li>
            <li><span class="primary-font"><i class="icon-home"></i></span><a href="__PRO_PATH__/Inform/index">通知公告</a></li>
            <li>新建通知</li>
        </ul>
        <div class="form-wrapper">
            <form class="form-horizontal" method="post" id="new-inform-form">
                <div :class="['form-group', errors.title != '' ? 'has-error' : '']" >
                    <label for="new-inform-form-title" class="col-sm-2 control-label">通知标题：</label>
                    <div class="col-sm-4">
                        <input class="form-control" type="text" name="title" value="" placeholder="请输入通知标题" id="new-inform-form-title">
                        <p class="help-block">{{errors.title}}</p>
                    </div>
                </div>

                <div :class="['form-group', errors.type != '' ? 'has-error' : '']" >
                    <label for="new-inform-form-type" class="col-sm-2 control-label">通知类型：</label>
                    <div class="col-sm-4" id="new-inform-form-type" >
                        <div class="radio inline-block">
                            <div class="custom-radio m-right-xs">
                                <input type="radio" id="type1" name="type" value="1">
                                <label for="type1"></label>
                            </div>
                            <div class="inline-block vertical-top">提醒类</div>
                        </div>
                        <div class="radio inline-block">
                            <div class="custom-radio m-right-xs">
                                <input type="radio" id="type2" name="type" value="2" checked>
                                <label for="type2"></label>
                            </div>
                            <div class="inline-block vertical-top">公告类</div>
                        </div>
                        <div class="radio inline-block">
                            <div class="custom-radio m-right-xs">
                                <input type="radio" id="type3" name="type" value="3">
                                <label for="type3"></label>
                            </div>
                            <div class="inline-block vertical-top">警告类</div>
                        </div>
                        <div class="radio inline-block">
                            <div class="custom-radio m-right-xs">
                                <input type="radio" id="type4" name="type" value="4">
                                <label for="type4"></label>
                            </div>
                            <div class="inline-block vertical-top">错误类</div>
                        </div>
                        <div class="radio inline-block">
                            <div class="custom-radio m-right-xs">
                                <input type="radio" id="type5" name="type" value="5">
                                <label for="type5"></label>
                            </div>
                            <div class="inline-block vertical-top">错误类</div>
                        </div>
                    </div>
                    <p class="help-block">{{errors.type}}</p>
                </div>

                <div :class="['form-group', errors.priority != '' ? 'has-error' : '']" >
                    <label for="new-inform-form-priority" class="col-sm-2 control-label">优先级别：</label>
                    <div class="col-sm-4" id="new-inform-form-priority" >
                        <div class="radio inline-block">
                            <div class="custom-radio m-right-xs">
                                <input type="radio" id="priority1" name="priority" value="1">
                                <label for="priority1"></label>
                            </div>
                            <div class="inline-block vertical-top">高</div>
                        </div>
                        <div class="radio inline-block">
                            <div class="custom-radio m-right-xs">
                                <input type="radio" id="priority2" name="priority" value="2">
                                <label for="priority2"></label>
                            </div>
                            <div class="inline-block vertical-top">中</div>
                        </div>
                        <div class="radio inline-block">
                            <div class="custom-radio m-right-xs">
                                <input type="radio" id="priority3" name="priority" value="3" checked>
                                <label for="priority3"></label>
                            </div>
                            <div class="inline-block vertical-top">低</div>
                        </div>
                    </div>
                    <p class="help-block">{{errors.priority}}</p>
                </div>

                <div :class="['form-group', errors.target_user_id != '' ? 'has-error' : '']" >
                    <label for="new-inform-form-target" class="col-sm-2 control-label">通知用户：</label>
                    <div class="col-sm-4">
                        <select multiple="multiple" class="multiple" id="new-inform-form-target" name="target_user_ids">
                            {foreach name="target_users" item="model"}
                            <option value="{$model.id}">{$model.username}</option>
                            {/foreach}
                        </select>
                        <p class="help-block">{{errors.target_user_id}}</p>
                    </div>
                </div>

                <div  :class="['form-group', errors.content != '' ? 'has-error' : '']" >
                    <label class="col-sm-2 control-label">通知内容：</label>
                    <span class="help-block">{{errors.content}}</span>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <script id="editor" type="text/plain" style="width:100%;height:300px;" name="content"></script>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10 lab-btns">
                        <a class="btn btn-success" id="new-inform-form-save" @click="createNewInform">保存</a>
                        <a id="form-cancel" class="btn btn-info">取消</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div><!-- /main-container -->
{include file="Common/calendar" /}
{include file="Common/popup_warn" /}
{include file="Common/popup_list" /}
{include file="Common/bottom" /}
{include file="Common/upload"}
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/js/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/js/ueditor/ueditor.all.min.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/js/ueditor/lang/zh-cn/zh-cn.js"></script>
<script>
    $('#consultation-nav-inform').addClass('active');

    var ue = UE.getEditor('editor');

    var vm = new Vue({
        el: '#new-inform-form',
        data: {
            params: {},
            errors:{
                type: '',
                title: '',
                content: '',
                priority: '',
                target_user_id: ''
            }
        },
        mounted: function () {
            $(".multiple").multipleSelect({
                filter: true,
                multiple: true,
                selectAll: true
            });

            $(function () {
                $("#new-inform-form-target").multipleSelect("checkAll");
            });

            $('#form-cancel').on('click', function(){
                window.location.href = '__PRO_PATH__/Inform/index';
            });
        },
        methods: {
            createNewInform: function () {
                getParams();
                $.post('__PRO_PATH__/Inform/create', vm.params, function(res){
                    if(res.error_code == 0){
                        popWarn('新建成功', '__PRO_PATH__/Inform/index');
                    }else if(res.error_code == 1){
                        $.each(res.errors, function(k, v){
                            vm.errors[k] = v;
                        });
                        console.log(JSON.stringify(vm.errors));
                    }
                });
            }
        }
    });

    function getParams(){
        vm.params['target_user_ids'] = [];
        var data = $('#new-inform-form').serializeArray();
        $.each(data, function() {
            if(this.name == 'target_user_ids'){
                vm.params[this.name].push(this.value);
            } else {
                vm.params[this.name] = this.value;
            }
        });
    }
</script>
{else /}
<div class="main-container">
    <div class="padding-md">
        <span class="col-lg-12" style="font-size: larger; text-align: center">
			<strong>抱歉，您访问的页面不存在！</strong>
		</span>
    </div>
</div>
{include file="Common/bottom" /}
{/if}
