{include file="Common/top" title="首页" metas='' /}
{if condition="authority('DoctorEdit')"}
<div class="main-container">
    <div class="padding-md">
        <ul class="breadcrumb">
            <li><span class="primary-font"><i class="icon-home"></i></span><a href="__PRO_PATH__/">首页</a></li>
            <li><span class="primary-font"><i class="icon-home"></i></span><a href="__PRO_PATH__/Doctor/index">医生信息</a></li>
            <li>编辑信息</li>
        </ul>

        <div class="form-wrapper">
            <form class="form-horizontal" method="post" id="new-apply-form">

                <div :class="['form-group', errors.name != '' ? 'has-error' : '']" >
                    <label for="name" class="col-sm-2 control-label">医生姓名：</label>
                    <div class="col-sm-4">
                        <input class="form-control" type="text" name="name" value="{$doctor.name}" placeholder="请输入姓名" id="name">
                        <p class="help-block">{{errors.name}}</p>
                    </div>
                </div>

                <div class="form-group }">
                    <label class="col-sm-2 control-label">医生照片：</label>
                    <div class="col-sm-4" style="height: 100px;width: 120px">
                        <img id="photo" style="max-height: 80px;max-width: 80px" src="{$doctor.photo??'__PUBLIC__/images/profile/profile1.jpg'}">
                        <br/>
                        <div id="upload_photo">
                            <a id="upload_photo_photo" href="javascript:;" style="position: relative;z-index: 1;">
                                <i class="fa fa-camera fa-lg"></i>
                            </a>
                        </div>
                        <input type="hidden" name="photo" value="{$doctor.photo??''}"/>
                    </div>
                </div>

                <div :class="['form-group', errors.gender!= '' ? 'has-error' : '']" >
                    <label for="gender" class="col-sm-2 control-label">医生性别：</label>
                    <div class="col-sm-4" id="gender" >
                        <div class="radio inline-block">
                            <div class="custom-radio m-right-xs">
                                <input type="radio" id="patient_gender1" name="gender" value="1">
                                <label for="patient_gender1"></label>
                            </div>
                            <div class="inline-block vertical-top">男</div>
                        </div>
                        <div class="radio inline-block">
                            <div class="custom-radio m-right-xs">
                                <input type="radio" id="patient_gender2" name="gender" value="2">
                                <label for="patient_gender2"></label>
                            </div>
                            <div class="inline-block vertical-top">女</div>
                        </div>
                        <p class="help-block">{{errors.gender}}</p>
                    </div>
                </div>

                <div :class="['form-group', errors.age != '' ? 'has-error' : '']" >
                    <label for="age" class="col-sm-2 control-label">年龄：</label>
                    <div class="col-sm-4">
                        <input class="form-control" type="text" name="age" value="{$doctor.age}" placeholder="请输入年龄" id="age">
                        <p class="help-block">{{errors.age}}</p>
                    </div>
                </div>

                <div :class="['form-group', errors.position != '' ? 'has-error' : '']" >
                    <label for="position" class="col-sm-2 control-label">职称：</label>
                    <div class="col-sm-4">
                        <input class="form-control" type="text" name="position" value="{$doctor.position}" placeholder="请输入职称" id="position">
                        <p class="help-block">{{errors.position}}</p>
                    </div>
                </div>

                <div :class="['form-group', errors.phone != '' ? 'has-error' : '']" >
                    <label for="phone" class="col-sm-2 control-label">联系方式：</label>
                    <div class="col-sm-4">
                        <input class="form-control" type="text" name="phone" value="{$doctor.phone}" placeholder="请输入联系方式" id="phone">
                        <p class="help-block">{{errors.phone}}</p>
                    </div>
                </div>

                <div :class="['form-group', errors.email != '' ? 'has-error' : '']" >
                    <label for="email" class="col-sm-2 control-label">邮箱：</label>
                    <div class="col-sm-4">
                        <input class="form-control" type="text" name="email" value="{$doctor.email}" placeholder="请输入邮箱" id="email">
                        <p class="help-block">{{errors.email}}</p>
                    </div>
                </div>

                <div :class="['form-group']" >
                    <label for="address" class="col-sm-2 control-label">地址：</label>
                    <div class="col-sm-4">
                        <input class="form-control" type="text" name="address" value="{$doctor.address}" placeholder="请输入地址" id="address">
                    </div>
                </div>

                <div :class="['form-group']" >
                    <label for="postcode" class="col-sm-2 control-label">邮编：</label>
                    <div class="col-sm-4">
                        <input class="form-control" type="text" name="postcode" value="{$doctor.postcode}" placeholder="请输入邮编" id="postcode">
                    </div>
                </div>

                <div :class="['form-group']" >
                    <label for="info" class="col-sm-2 control-label">详细信息：</label>
                    <div class="col-sm-4">
                        <textarea class="form-control" type="text" name="info"  placeholder="请输入详细信息" id="info">{$doctor.info}</textarea>
                    </div>
                </div>

                <div :class="['form-group']" >
                    <label for="honor" class="col-sm-2 control-label">所获荣誉：</label>
                    <div class="col-sm-4">
                        <textarea class="form-control" type="text" name="honor"  placeholder="请输入所获荣誉奖项" id="honor">{$doctor.honor}</textarea>
                    </div>
                </div>

                <div :class="['form-group']" >
                    <label for="remark" class="col-sm-2 control-label">备注：</label>
                    <div class="col-sm-4">
                        <textarea class="form-control" type="text" name="remark"  placeholder="例如自己的诊疗特长" id="remark">{$doctor.remark}</textarea>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10 lab-btns">
                        <a class="btn btn-success" id="new-apply-form-save" @click="createNewApply">保存</a>
                        <a id="form-cancel" class="btn btn-info">取消</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{include file="Common/progress"}
{include file="Common/calendar" /}
{include file="Common/popup_warn" /}
{include file="Common/popup_list" /}
{include file="Common/calendar" /}
{include file="Common/bottom" /}
{include file="Common/upload"}
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/js/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/js/ueditor/ueditor.all.min.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/js/ueditor/lang/zh-cn/zh-cn.js"></script>
<script>
    $('#consultation-nav-doctor').addClass('active');

    function clickRadio(value)
    {
        if(value == 5){
            vm.seen['ill_type'] = !vm.seen['ill_type'];
        } else{
            vm.seen['ill_type'] = false;
        }
    }

    var vm = new Vue({
        el: '#new-apply-form',
        data: {
            params: {
                doctor_id: '{$doctor.id}'
            },
            seen:{
                ill_type: false
            },
            errors:{
                'age':'',
                'email':'',
                'name':'',
                'phone':'',
                'position':'',
                'gender':''
            }
        },

        mounted:function () {
            $(".flatpickr").flatpickr({time_24hr:true});
            $("input[name='gender'][value='{$doctor.gender?? ''}']").attr("checked",true);

            changeLogo({
                container: 'upload_photo',
                browse: 'upload_photo_photo',
                url: '__PRO_PATH__/Media/upload?dir=import',
                img_types: 'jpg,gif,png',
                zip_types: 'zip',
                filelist: 'filelist_hospital_logo',
                uploadfiles: 'uploadfiles_hospital_logo',
                file_size: '10mb',
                onUploaded: function (up, file, result) {
//                    $("input[name='hospital_logo_origin']").val(file.name);
                    var res = JSON.parse(result.response);
                    $('#photo').attr('src',res.result.file);
                    $("input[name='photo']").val(res.result.file);
                    chageTitle('上传成功');
                    setTimeout("cancel()", 1000);
                },
                isMulti: true
            });

        },

        methods: {
            createNewApply: function () {
                getParams();
                $.post('__PRO_PATH__/Doctor/edit', vm.params, function (res) {
                    if (res.error_code == 0) {
                        $.each(vm.errors, function (k) {
                            vm.errors[k] = '';
                        });
                        popWarn('保存成功', '__PRO_PATH__/Doctor/index');
                        //window.location.href = '__PRO_PATH__/Doctor/index';
                    } else if (res.error_code == 2) {
                        $.each(vm.errors, function (k) {
                            vm.errors[k] = '';
                        });
                        $.each(res.errors, function (k, v) {
                            vm.errors[k] = v;
                        });
                        console.log(JSON.stringify(vm.errors));
                    }
                });
            },
        }
    });
    

    $('#form-cancel').on('click', function(){
        window.location.href = '__PRO_PATH__/Doctor/index';
    });

    function getParams(){
        var data = $('#new-apply-form').serializeArray();
        $.each(data, function() {
            vm.params[this.name] = this.value;
        });
        /*$.each(vm.patient, function (k, v) {
         vm.params[k] = v;
         });*/
        console.log(JSON.stringify(data));
        console.log(JSON.stringify(vm.params));
    }
</script>
{else /}
<div class="main-container">
    <div class="padding-md">
        <span class="col-lg-12" style="font-size: larger; text-align: center">
			<strong>抱歉，您访问的页面不存在！</strong>
		</span>
    </div>
</div>
{include file="Common/bottom" /}
{/if}