{include file="Common/top" title="首页" metas='' /}
{if condition="authority('PatientEdit')"}
<div class="main-container">
    <div class="padding-md">
        <ul class="breadcrumb">
            <li><span class="primary-font"><i class="icon-home"></i></span><a href="__PRO_PATH__/">首页</a></li>
            <li><span class="primary-font"><i class="icon-home"></i></span><a href="__PRO_PATH__/Patient/index">患者信息</a></li>
            <li>编辑信息</li>
        </ul>

        <div class="form-wrapper" style="background-color: #fff">
            <form class="form-horizontal" method="post" id="new-apply-form">

                <div :class="['form-group', errors.name != '' ? 'has-error' : '']" >
                    <label for="name" class="col-sm-2 control-label">患者姓名：</label>
                    <div class="col-sm-4">
                        <input class="form-control" type="text" name="name" value="{$patient.name}" placeholder="请输入患者姓名" id="name">
                        <p class="help-block">{{errors.name}}</p>
                    </div>
                </div>

                <div :class="['form-group',errors.ID_number!='' ? 'has-error':'']" >
                    <label for="ID_number" class="col-sm-2 control-label">身份证号：</label>
                    <div class="col-sm-4">
                        <input class="form-control" type="text" name="ID_number" value="{$patient.ID_number}" placeholder="请输入患者身份证号" id="ID_number">
                        <p class="help-block">{{errors.ID_number}}</p>
                    </div>
                </div>

                <div :class="['form-group',errors.gender!='' ? 'has-error':'']" >
                    <label for="gender" class="col-sm-2 control-label">患者性别：</label>
                    <div class="col-sm-4" id="gender" >
                        <div class="radio inline-block">
                            <div class="custom-radio m-right-xs">
                                <input type="radio" id="patient_gender1" name="gender" value="1">
                                <label for="patient_gender1"></label>
                            </div>
                            <div class="inline-block vertical-top">男</div>
                        </div>
                        <div class="radio inline-block">
                            <div class="custom-radio m-right-xs">
                                <input type="radio" id="patient_gender2" name="gender" value="2">
                                <label for="patient_gender2"></label>
                            </div>
                            <div class="inline-block vertical-top">女</div>
                        </div>
                        <p class="help-block">{{errors.gender}}</p>
                    </div>
                </div>

                <div :class="['form-group', errors.age != '' ? 'has-error' : '']" >
                    <label for="age" class="col-sm-2 control-label">患者年龄：</label>
                    <div class="col-sm-4">
                        <input class="form-control" type="text" name="age" value="{$patient.age}" placeholder="请输入年龄" id="age">
                        <p class="help-block">{{errors.age}}</p>
                    </div>
                </div>

                <div :class="['form-group']" >
                    <label for="occupation" class="col-sm-2 control-label">职业：</label>
                    <div class="col-sm-4">
                        <input class="form-control" type="text" name="occupation" value="{$patient.occupation}" placeholder="请输入职业" id="occupation">
                    </div>
                </div>

                <div :class="['form-group', errors.phone != '' ? 'has-error' : '']" >
                    <label for="phone" class="col-sm-2 control-label">联系方式：</label>
                    <div class="col-sm-4">
                        <input class="form-control" type="text" name="phone" value="{$patient.phone}" placeholder="请输入联系方式" id="phone">
                        <p class="help-block">{{errors.phone}}</p>
                    </div>
                </div>

                <div :class="['form-group']" >
                    <label for="email" class="col-sm-2 control-label">邮箱：</label>
                    <div class="col-sm-4">
                        <input class="form-control" type="text" name="email" value="{$patient.email}" placeholder="请输入邮箱" id="email">
                    </div>
                </div>

                <div :class="['form-group']" >
                    <label for="birthplace" class="col-sm-2 control-label">出生地：</label>
                    <div class="col-sm-4">
                        <input class="form-control" type="text" name="birthplace" value="{$patient.birthplace}" placeholder="请输入出生地" id="birthplace">
                    </div>
                </div>

                <div :class="['form-group']" >
                    <label for="address" class="col-sm-2 control-label">现住地：</label>
                    <div class="col-sm-4">
                        <input class="form-control" type="text" name="address" value="{$patient.address}" placeholder="请输入现居住地" id="address">
                    </div>
                </div>

                <div :class="['form-group']" >
                    <label for="work_unit" class="col-sm-2 control-label">工作单位：</label>
                    <div class="col-sm-4">
                        <input class="form-control" type="text" name="work_unit" value="{$patient.work_unit}" placeholder="请输入工作单位" id="work_unit">
                    </div>
                </div>

                <div :class="['form-group']" >
                    <label for="postcode" class="col-sm-2 control-label">邮编：</label>
                    <div class="col-sm-4">
                        <input class="form-control" type="text" name="postcode" value="{$patient.postcode}" placeholder="请输入邮编" id="postcode">
                    </div>
                </div>

                <div :class="['form-group']" >
                    <label class="col-sm-2 control-label">身高体重：</label>
                    <div class="col-sm-9">
                        <input class="form-control"  style="display: inline;width:78px" type="text" name="height"   value="{$patient.height}" placeholder="身高" id="height">
                        <input class="form-control"  style="display: inline;width:78px" type="text" name="weight"   value="{$patient.weight}" placeholder="体重" id="weight">
                    </div>
                </div>


                <div :class="['form-group']" >
                    <label class="col-sm-2 control-label">眼睛视力：</label>
                    <div class="col-sm-9">
                        <input class="form-control"  style="display: inline;width:78px" type="text" name="vision_left"    value="{$patient.vision_left}" placeholder="左眼视力" id="vision_left">
                        <input class="form-control"  style="display: inline;width:78px" type="text" name="vision_right"   value="{$patient.vision_right}" placeholder="右眼视力" id="vision_right">
                        <input class="form-control"  style="display: inline;width:78px" type="text" name="pressure_left"  value="{$patient.pressure_left}" placeholder="左眼眼压" id="pressure_left">
                        <input class="form-control"  style="display: inline;width:78px" type="text" name="pressure_right" value="{$patient.pressure_right}" placeholder="右眼眼压" id="pressure_right">
                    </div>
                </div>

                <!-- -->

                <div class="form-group {$errors.eye_photo_left ?= 'has-error'}">
                    <label class="col-sm-2 control-label">左眼照片：</label>
                    <div class="col-sm-4">
                        <div id="filelist_left_eye">
                        </div>
                        <div>{$patient.eye_photo_left_origin??''}<b></b></div>
                        <br/>
                        <div id="upload_left_eye">
                            <a id="pickfiles_left_eye" href="javascript:;" style="position: relative;z-index: 1;">选择文件</a>
                            <a id="uploadfiles_left_eye" href="javascript:;">上传</a>
                        </div>
                        <input type="hidden" name="eye_photo_left" value="{$patient.eye_photo_left??''}"/>
                        <input type="hidden" name="eye_photo_left_origin" value="{$patient.eye_photo_left_origin??''}"/>
                        <span class="help-block">{$errors.eye_photo_left?? ''}</span>
                    </div>
                </div>

                <div class="form-group {$errors.eye_photo_right ?= 'has-error'}">
                    <label class="col-sm-2 control-label">右眼照片：</label>
                    <div class="col-sm-4">
                        <div id="filelist_right_eye">
                        </div>
                        <div>{$patient.eye_photo_right_origin??''}<b></b></div>
                        <br/>
                        <div id="upload_right_eye">
                            <a id="pickfiles_right_eye" href="javascript:;" style="position: relative;z-index: 1;">选择文件</a>
                            <a id="uploadfiles_right_eye" href="javascript:;">上传</a>
                        </div>
                        <input type="hidden" name="eye_photo_right" value="{$patient.eye_photo_right??''}"/>
                        <input type="hidden" name="eye_photo_right_origin" value="{$patient.eye_photo_right_origin??''}"/>
                        <span class="help-block">{$errors.eye_photo_right?? ''}</span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">辅助检查照片：</label>
                    <div class="col-sm-4">
                        <div id="filelist_exam_img">
                        </div>
                        <div>{$patient.exam_img_origin??''}<b></b></div>
                        <br/>
                        <div id="exam_img">
                            <a id="pickfiles_exam_img" href="javascript:;" style="position: relative;z-index: 1;">选择文件</a>
                            <a id="uploadfiles_exam_img" href="javascript:;">上传</a>
                        </div>
                        <input type="hidden" name="exam_img" value="{$patient.exam_img??''}"/>
                        <input type="hidden" name="exam_img_origin" value="{$patient.exam_img_origin??''}"/>
                    </div>
                </div>

                <div :class="['form-group']" >
                    <label for="ill_type" class="col-sm-2 control-label">眼病类型：</label>
                    <div class="col-sm-4" id="ill_type" >
                        <div class="radio inline-block">
                            <div class="custom-radio m-right-xs">
                                <input type="radio" id="eyes_ill_type1" name="ill_type" value="1" onclick="clickRadio(this.value)">
                                <label for="eyes_ill_type1"></label>
                            </div>
                            <div class="inline-block vertical-top">眼表</div>
                        </div>
                        <div class="radio inline-block">
                            <div class="custom-radio m-right-xs">
                                <input type="radio" id="eyes_ill_type2" name="ill_type" value="2" onclick="clickRadio(this.value)">
                                <label for="eyes_ill_type2"></label>
                            </div>
                            <div class="inline-block vertical-top">眼前节</div>
                        </div>
                        <div class="radio inline-block">
                            <div class="custom-radio m-right-xs">
                                <input type="radio" id="eyes_ill_type3" name="ill_type" value="3" onclick="clickRadio(this.value)">
                                <label for="eyes_ill_type3"></label>
                            </div>
                            <div class="inline-block vertical-top">眼底</div>
                        </div>
                        <div class="radio inline-block">
                            <div class="custom-radio m-right-xs">
                                <input type="radio" id="eyes_ill_type4" name="ill_type" value="4" onclick="clickRadio(this.value)">
                                <label for="eyes_ill_type4"></label>
                            </div>
                            <div class="inline-block vertical-top">视光</div>
                        </div>
                        <div class="radio inline-block" >
                            <div class="custom-radio m-right-xs">
                                <input type="radio" id="eyes_ill_type5" name="ill_type" value="5" onclick="clickRadio(this.value)" value="2">
                                <label for="eyes_ill_type5"></label>
                            </div>
                            <div class="inline-block vertical-top">其他</div>
                        </div>
                    </div>
                </div>

                <div :class="['form-group']" id="other_eyes_ill_type_div" v-if="seen.ill_type">
                    <label for="other_ill_type" class="col-sm-2 control-label">其他眼病类型：</label>
                    <div class="col-sm-4">
                        <input class="form-control" type="text" name="other_ill_type" value="{$patient.other_ill_type}" placeholder="请输入其他眼病类型" id="other_ill_type">
                    </div>
                </div>

                <div :class="['form-group', errors.ill_state != '' ? 'has-error' : '']" >
                    <label for="ill_state" class="col-sm-2 control-label">简要病情：</label>
                    <div class="col-sm-4">
                        <textarea  class="form-control" type="text" name="ill_state" id="ill_state" placeholder="请输入患者简要病情">{$patient.ill_state}</textarea>
                        <p class="help-block">{{errors.ill_state}}</p>
                    </div>
                </div>

                <div class="form-group {$errors.img ?= 'has-error'}">
                    <label class="col-sm-2 control-label">上传病情文件：</label>
                    <div class="col-sm-4">
                        <div id="filelist">
                        </div>
                        <div>{$patient.files_path_origin??''}<b></b></div>
                        <br/>
                        <div id="upload-wrapper">
                            <a id="pickfiles" href="javascript:;" style="position: relative;z-index: 1;">选择文件</a>
                            <a id="uploadfiles" href="javascript:;">上传</a>
                        </div>
                        <input type="hidden" name="files_path" value="{$patient.files_path??''}"/>
                        <input type="hidden" name="files_path_origin" value="{$patient.files_path_origin??''}"/>
                        <span class="help-block">{$errors.files_path ?? ''}</span>
                    </div>
                </div>

                <div :class="['form-group']" >
                    <label for="diagnose_state" class="col-sm-2 control-label">诊疗情况：</label>
                    <div class="col-sm-4">
                        <textarea  class="form-control" type="text" name="diagnose_state" id="diagnose_state" placeholder="请输入患者简要病情">{$patient.diagnose_state}</textarea>
                    </div>
                </div>

                <div :class="['form-group']" >
                    <label for="in_hospital_time" class="col-sm-2 control-label">入院时间：</label>
                    <div class="col-sm-4">
                        <input placeholder="请输入住院时间" id="in_hospital_time" vaule="{$patient.in_hospital_time}" name="in_hospital_time" data-enable-time="true" data-time_24hr="true" class="form-control flatpickr flatpickr-input">
                    </div>
                </div>

                <div :class="['form-group']" >
                    <label for="narrator" class="col-sm-2 control-label">叙述者：</label>
                    <div class="col-sm-4">
                        <input  class="form-control" type="text" name="narrator" vaule="{$patient.narrator}" id="narrator" placeholder="请输入叙述者姓名">
                    </div>
                </div>

                <div :class="['form-group']" >
                    <label for="main_narrate" class="col-sm-2 control-label">主叙述者：</label>
                    <div class="col-sm-4">
                        <input  class="form-control" type="text" name="main_narrate" vaule="{$patient.main_narrate}" id="main_narrate" placeholder="请输入主叙述者姓名">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10 lab-btns">
                        <a class="btn btn-success" id="new-apply-form-save" @click="createNewApply">保存</a>
                        <a id="form-cancel" class="btn btn-info">取消</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{include file="Common/progress"}
{include file="Common/calendar" /}
{include file="Common/popup_warn" /}
{include file="Common/popup_list" /}
{include file="Common/calendar" /}
{include file="Common/bottom" /}
{include file="Common/upload"}
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/js/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/js/ueditor/ueditor.all.min.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/js/ueditor/lang/zh-cn/zh-cn.js"></script>
<script>
    $('#consultation-nav-patient').addClass('active');

    function clickRadio(value)
    {
        if(value == 5){
            vm.seen['ill_type'] = !vm.seen['ill_type'];
        } else{
            vm.seen['ill_type'] = false;
        }
    }

    var vm = new Vue({
        el: '#new-apply-form',
        data: {
            params: {
                patient_id: '{$patient.id}'
            },
            seen:{
                ill_type: {$patient.ill_type == 5 ? 'true' : 'false'},
                apply_project:false
            },
            errors:{
                ID_number:'',
                age:'',
                ill_state:'',
                name:'',
                phone:'',
                gender:''
            }
        },
        mounted:function () {
            $('#narrator').val('{$patient.narrator??""}');
            $('#main_narrate').val('{$patient.main_narrate??""}');
            $('#in_hospital_time').val('{$patient.in_hospital_time??""}');
            $("input[name='gender'][value='{$patient.gender?? ''}']").attr("checked",true);
            $("input[name='ill_type'][value='{$patient.ill_type?? ''}']").attr("checked",true);
            $(".flatpickr").flatpickr({time_24hr:true});

            myupload({
                container: 'upload-wrapper',
                browse: 'pickfiles',
                url: '__PRO_PATH__/Media/upload?dir=import',
                img_types: 'jpg,gif,png',
                zip_types: 'zip',
                filelist: 'filelist',
                uploadfiles: 'uploadfiles',
                file_size: '10mb',
                onUploaded: function (up, file, result) {
                    $("input[name='files_path_origin']").val(file.name);
                    var res = JSON.parse(result.response);
                    $("input[name='files_path']").val(res.result.file);
                },
                isMulti: true
            });
        myupload({
            container: 'upload_left_eye',
            browse: 'pickfiles_left_eye',
            url: '__PRO_PATH__/Media/upload?dir=import',
            img_types: 'jpg,gif,png',
            zip_types: 'zip',
            filelist: 'filelist_left_eye',
            uploadfiles: 'uploadfiles_left_eye',
            file_size: '10mb',
            onUploaded: function (up, file, result) {
                var res = JSON.parse(result.response);
                $('#filelist_left_eye').attr('src',res.result.file);
                $("input[name='eye_photo_left_origin']").val(file.name);
                $("input[name='eye_photo_left']").val(res.result.file);
            },
            isMulti: true
        });
        myupload({
                container: 'upload_right_eye',
                browse: 'pickfiles_right_eye',
                url: '__PRO_PATH__/Media/upload?dir=import',
                img_types: 'jpg,gif,png',
                zip_types: 'zip',
                filelist: 'filelist_right_eye',
                uploadfiles: 'uploadfiles_right_eye',
                file_size: '10mb',
                onUploaded: function (up, file, result) {
                    var res = JSON.parse(result.response);
                    $('#filelist_right_eye').attr('src',res.result.file);
                    $("input[name='eye_photo_right_origin']").val(file.name);
                    $("input[name='eye_photo_right']").val(res.result.file);
                },
                isMulti: true
            });

        myupload({
            container: 'exam_img',
            browse: 'pickfiles_exam_img',
            url: '__PRO_PATH__/Media/upload?dir=import',
            img_types: 'jpg,gif,png',
            zip_types: 'zip',
            filelist: 'filelist_exam_img',
            uploadfiles: 'uploadfiles_exam_img',
            file_size: '10mb',
            onUploaded: function (up, file, result) {
                var res = JSON.parse(result.response);
                $('#filelist_exam_img').attr('src',res.result.file);
                $("input[name='exam_img_origin']").val(file.name);
                $("input[name='exam_img']").val(res.result.file);
            },
            isMulti: false
        });
    },

        methods: {
            createNewApply: function () {
                getParams();
                console.log(JSON.stringify(vm.params));
                $.post('__PRO_PATH__/Patient/edit', vm.params, function (res) {
                    if (res.error_code == 0) {
                        $.each(vm.errors, function (k) {
                            vm.errors[k] = '';
                        });
                        popWarn('保存成功','__PRO_PATH__/Patient/index');
                        //window.location.href = '__PRO_PATH__/Patient/index';
                    } else if (res.error_code == 2) {
                        $.each(vm.errors, function (k) {
                            vm.errors[k] = '';
                        });
                        $.each(res.errors, function (k, v) {
                            vm.errors[k] = v;
                        });
                        console.log(JSON.stringify(vm.errors));
                    }
                });
            },
        }
    });


    $('#form-cancel').on('click', function(){
        window.location.href = '__PRO_PATH__/Patient/index';
    });

    function change_hospital(){
        console.log("执行了");
        var hospital_id = $('#consultation_hospital').val();
        console.log(hospital_id);
        $.post('__PRO_PATH__/Hospital/getHospitalById', {'id':hospital_id }, function (res) {});
    }

    function getParams(){
        var data = $('#new-apply-form').serializeArray();
        console.log(JSON.stringify(data));
        $.each(data, function() {
            vm.params[this.name] = this.value;
        });

        /*$.each(vm.patient, function (k, v) {
         vm.params[k] = v;
         });*/
        /*console.log(JSON.stringify(data));
         console.log(JSON.stringify(vm.params));*/
    }
</script>
{else /}
<div class="main-container">
    <div class="padding-md">
        <span class="col-lg-12" style="font-size: larger; text-align: center">
			<strong>抱歉，您访问的页面不存在！</strong>
		</span>
    </div>
</div>
{include file="Common/bottom" /}
{/if}