<form  method="post" id="apply-form-create">
    <table class="table" style="width: auto;">
        <tr>
            <td colspan="9" style="font-weight: 900; font-size: large; color: #8B6420;">眼科医联体远程诊疗平台会诊单</td>
        </tr>
        <tr>
            <td>会诊类型</td>
            <td colspan="3">
                <div class="col-sm-7" id="new-inform-form-priority" >
                    <div class="radio inline-block">
                        <div class="custom-radio m-right-xs">
                            <input type="radio" id="apply_type1" name="apply_type" value="1" checked>
                            <label for="apply_type1"></label>
                        </div>
                        <div class="inline-block vertical-top">非紧急</div>
                    </div>
                    <div class="radio inline-block">
                        <div class="custom-radio m-right-xs">
                            <input type="radio" id="apply_type2" name="apply_type" value="2">
                            <label for="apply_type2"></label>
                        </div>
                        <div class="inline-block vertical-top">紧急</div>
                    </div>
                </div>
            </td>

            <td>会诊医院</td>
            <td colspan="4">
                <select name="hospital" class="form-control" onchange="change_hospital()" id="hospital">
                    {foreach name="hospital" item="item1"}
                    <option value="{$item1.id}">{$item1.name}</option>
                    {/foreach}
                </select>
            </td>
        </tr>
        <tr>
            <td>会诊科室</td>
            <td colspan="2">
                <div :class="['form-group', errors.target_office_id != '' ? 'has-error' : '']">
                    <select multiple="multiple" class="multiple" name="office_ids"  id="office_ids">
                        {foreach name="office" item="model" key = "k"}
                        <option value="{$model[$k]['id']}">{$model[$k]['name']}</option>
                        {/foreach}
                    </select>
                    <p class="help-block">{{errors.target_office_id}}</p>
                </div>
            </td>

            <td>会诊医生</td>
            <td colspan="2">
                <div :class="['form-group', errors.target_doctor_ids != '' ? 'has-error' : '']">
                    <select multiple="multiple" class="multiple" id="doctor_ids" name="doctor_ids">
                        {foreach name="doctor" item="model"}
                        <option value="{$model.id}">{$model.name}</option>
                        {/foreach}
                    </select>
                    <p class="help-block">{$errors.doctor??''}</p>
                </div>
            </td>

            <td>预约日期</td>
            <td colspan="2">
                <div :class="['form-group', errors.apply_date != '' ? 'has-error' : '']" >
                    <input placeholder="" id="apply_date" name="apply_date" data-enable-time="true" data-time_24hr="true" class="form-control flatpickr flatpickr-input">
                    <p class="help-block">{{errors.apply_date}}</p>
                </div>
            </td>

        </tr>
        <tr>
            <td colspan="9" rowspan="2" style="font-size: medium; font-weight: bold; text-align: left">申请信息</td>
        </tr>
        <tr></tr>
        <tr>
            <td>申请单位</td>
            <td colspan="5">
                {$apply_info.apply_hospital_name ?? ''}
            </td>
            <td>申请人</td>
            <td colspan="2">
                {$apply_info.apply_doctor_name ?? ''}
            </td>
        </tr>
        <tr>
            <td>申请类型</td>
            <td colspan="2">
                <div :class="['form-group', errors.apply_project != '' ? 'has-error' : '']" >
                    <select  name="apply_project" class="form-control" onchange="change_apply_project(this.value)" id="apply_project">
                        <option value="">--请选择--</option>
                        <option value="1">咨询</option>
                        <option value="2">住院</option>
                        <option value="3">手术</option>
                        <option value="4">其他</option>
                    </select>
                    <p class="help-block">{{errors.apply_project}}</p>
                </div>
                <div :class="['form-group', errors.other_apply_project != '' ? 'has-error' : '']" v-if="seen.apply_project">
                    <input class="form-control" type="text" name="other_apply_project" value="" placeholder="请输入其他申请类型" id="other_apply_project">
                    <p class="help-block">{{errors.other_apply_project}}</p>
                </div>
            </td>
            <!--<td colspan="2" >{{source_doctor_info.name}}</td>-->
            <td>联系电话</td>
            <td colspan="2">
                <div :class="['form-group',errors.doctor_phone != '' ? 'has-error' : '']" >
                    <input class="form-control" type="text" name="doctor_phone" value="{$apply_info.apply_doctor_phone ?? ''}" placeholder="联系电话" id="doctor_phone">
                    <p class="help-block">{{errors.doctor_phone}}</p>
                </div>
            </td>
            <td>填表日期</td>
            <td colspan="2">
                {:date('Y-m-d', $apply_info.date ?? '')}
            </td>
        </tr>
        <tr>
            <td colspan="9" rowspan="2" style="font-size: medium; font-weight: bold; text-align: left">患者信息</td>
        </tr>
        <tr></tr>
        <tr>
            <td>身份证号</td>
            <td colspan="3">
                <div :class="['form-group', errors.ID_number != '' ? 'has-error' : '']" >
                    <div class="col-sm-9">
                        <input class="form-control" type="text" v-model="patient.ID_number" value="" placeholder="请输入患者身份证号" id="patient_ID_number">
                        <p class="help-block">{{errors.ID_number}}</p>
                    </div>
                </div>
                <div class="form-group">
                    <a class="btn btn-success" id="check_ID_number" @click="check_by_ID_number">检验</a>
                </div>
            </td>
            <td>姓名</td>
            <td colspan="2">
                <div :class="['form-group', errors.name != '' ? 'has-error' : '']" >
                    <input class="form-control" type="text" v-model="patient.name" value="" placeholder="姓名" id="patient_name">
                    <p class="help-block">{{errors.name}}</p>
                </div>
            </td>
            <td>性别</td>
            <td>
                <div :class="['form-group', errors.gender != '' ? 'has-error' : '']" >
                    <select v-model="patient.gender" class="form-control" id="patient_gender">
                        <option value="">--请选择--</option>
                        <option value="1">男</option>
                        <option value="2">女</option>
                    </select>
                    <p class="help-block">{{errors.gender}}</p>
                </div>
            </td>
        </tr>
        <tr>
            <td>年龄</td>
            <td>
                <div :class="['form-group', errors.age != '' ? 'has-error' : '']" >
                    <input class="form-control" type="text" v-model="patient.age" value="" placeholder="年龄" id="age">
                    <p class="help-block">{{errors.age}}</p>
                </div>
            </td>

            <td>联系方式</td>
            <td colspan="2" >
                <div :class="['form-group', errors.phone != '' ? 'has-error' : '']" >
                    <input class="form-control" type="text" v-model="patient.phone" value="" placeholder="患者电话" id="patient_phone">
                    <p class="help-block">{{errors.phone}}</p>
                </div>
            </td>

            <td>
                附件上传
                <i class="fa fa-question-circle" aria-hidden="true"
                   data-toggle="popover" title="提示"
                   data-content="辅助检查图片压缩包上传！"
                   data-delay='{"show": 500, "hide": 500 }' data-trigger="hover"></i>
            </td>
            <td colspan="3">
                <div class="['form-group', errors.files_path != '' ? 'has-error' : '']" >
                    <a  :href="patient.files_path" :title="patient.files_path_origin" target="_blank">
                        {{patient.files_path_origin}}
                    </a>
                    <div id="filelist">
                    </div>
                    <div id="upload_file_path">
                        <a id="pickfiles" href="javascript:;">选择文件</a>
                        <a id="uploadfiles" href="javascript:;">上传</a>
                    </div>
                    <br/>
                    <input type="hidden" name="files_path"/>
                    <input type="hidden" name="files_path_origin"/>
                    <span class="help-block">{{errors.files_path}}</span>
                </div>
            </td>
        </tr>

        <tr>
            <td colspan="9" rowspan="2" style="font-size: medium; font-weight: bold; text-align: left">简要病情</td>
        </tr>
        <tr></tr>
        <tr>
            <td>眼病类型</td>
            <td colspan="2" style="text-align: left; height: auto;">
                <select v-model="patient.ill_type" class="form-control" onchange="change_eyes_ill_type(this.value)" id="ill_type">
                    <option value="" selected>--请选择--</option>
                    <option value="1">眼表</option>
                    <option value="2">眼前节</option>
                    <option value="3">眼底</option>
                    <option value="4">视光</option>
                    <option value="5">其他</option>
                </select>

                <div :class="['form-group', errors.other_ill_type != '' ? 'has-error' : '']" v-if="seen.ill_type">
                    <input class="form-control" type="text" v-model="patient.other_ill_type" value="" placeholder="请输入其他眼病类型" id="other_ill_type">
                </div>
            </td>

            <td>视力(左/右)</td>
            <td>
                <input class="form-control"  type="text" v-model="patient.vision_left"    value="" placeholder="左眼视力" id="vision_left">
            </td>
            <td>
                <input class="form-control"  type="text" v-model="patient.vision_right"   value="" placeholder="右眼视力" id="vision_right">
            </td>

            <td>眼压(左/右)</td>
            <td>
                <input class="form-control" type="text" v-model="patient.pressure_left"  value="" placeholder="左眼眼压" id="pressure_left">
            </td>
            <td>
                <input class="form-control" type="text"  v-model="patient.pressure_right" value="" placeholder="右眼眼压" id="pressure_right">
            </td>
        </tr>
        <tr></tr>

        <tr>
            <td rowspan="2">辅助检查(图)</td>
            <td colspan="2" rowspan="4">
                <div :class="['form-group', errors.exam_img != '' ? 'has-error' : '']" >
                    <a :href="patient.exam_img" :title="patient.exam_img_origin" data-lighter>
                        <img id="exam_img" :src="patient.exam_img" :title="patient.exam_img_origin">
                    </a>
                    <br/>
                    <div id="upload_exam_img">
                        <a id="pickfiles_exam_img" href="javascript:;" style="position: relative;z-index: 1;">
                            <i class="fa fa-camera fa-lg"></i>
                        </a>
                    </div>
                    <span class="help-block">{{errors.files_path}}</span>
                </div>
            </td>

            <td rowspan="4">局部病变图(左眼)</td>
            <td colspan="2" rowspan="4">
                <div :class="['form-group', errors.eye_photo_left != '' ? 'has-error' : '']" >
                    <a :href="patient.eye_photo_left" :title="patient.eye_photo_left_origin" data-lighter>
                        <img id="eye_photo_left" :src="patient.eye_photo_left" :title="patient.eye_photo_left_origin">
                    </a>
                    <br/>
                    <div id="upload_left_eye">
                        <a id="pickfiles_left_eye" href="javascript:;" style="position: relative;z-index: 1;">
                            <i class="fa fa-camera fa-lg"></i>
                        </a>
                    </div>
                    <span class="help-block">{{errors.eye_photo_left}}</span>
                </div>
            </td>
            <td rowspan="4">局部病变图(右眼)</td>
            <td colspan="2" rowspan="4">
                <div :class="['form-group', errors.eye_photo_right != '' ? 'has-error' : '']" >
                    <a :href="patient.eye_photo_right" :title="patient.eye_photo_right_origin" data-lighter>
                        <img id="eye_photo_right" :src="patient.eye_photo_right" :title="patient.eye_photo_right_origin">
                    </a>
                    <br/>
                    <div id="upload_right_eye">
                        <a id="pickfiles_right_eye" href="javascript:;" style="position: relative;z-index: 1;">
                            <i class="fa fa-camera fa-lg"></i>
                        </a>
                    </div>
                    <span class="help-block">{{errors.eye_photo_right}}</span>
                </div>
            </td>
        </tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr>
            <td colspan="9" style="text-align: left; height: auto;">
                <div :class="['form-group', errors.ill_state != '' ? 'has-error' : '']" >
                    <textarea  class="form-control" type="text" v-model="patient.ill_state" style="height: 80px" id="patient_ill_state" placeholder="请输入患者简要病情"></textarea>
                    <p class="help-block">{{errors.ill_state}}</p>
                </div>
            </td>
        </tr>

        <tr>
            <td colspan="9" rowspan="2" style="font-size: medium; font-weight: bold; text-align: left">诊疗情况：</td>
        </tr>
        <tr></tr>
        <tr>
            <td colspan="9" style="text-align: left; height: auto;">
                <div :class="['form-group', errors.diagnose_state != '' ? 'has-error' : '']" >
                    <textarea  class="form-control" type="text" v-model="patient.diagnose_state" style="height: 80px" id="diagnose_state" placeholder="请输入诊疗情况"></textarea>
                    <p class="help-block">{{errors.diagnose_state}}</p>
                </div>
            </td>
        </tr>
        <tr></tr>

        <tr>
            <td colspan="9" rowspan="2" style="font-size: medium; font-weight: bold; text-align: left">会诊要求及目的</td>
        </tr>
        <tr></tr>
        <tr>
            <td colspan="9" style="text-align: left; height: auto;">
                <div :class="['form-group', errors.consultation_goal != '' ? 'has-error' : '']" >
                    <textarea  class="form-control" type="text" name="consultation_goal" style="height: 80px" id="consultation_goal" placeholder="请输入会诊要求及目的"></textarea>
                    <p class="help-block">{{errors.consultation_goal}}</p>
                </div>
            </td>
        </tr>
    </table>
</form>
<br>
