{include file="Common/top" title="首页" metas='' /}
{if condition="authority('ChannelReply')"}
<style>
    .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
        padding: 8px;
        text-align: center;
        line-height: 1.42857143;
        vertical-align: middle;
        border:1.0pt solid black;
        width: 10%;
        color: black;
        font-weight: 500;
    }
    .form-group {
        margin-bottom: 0;
    }
</style>
<div class="main-container">
    <div class="padding-md">
        <ul class="breadcrumb">
            <li><span class="primary-font"><i class="icon-home"></i></span><a href="__PRO_PATH__/">首页</a></li>
            <li><a href="__PRO_PATH__/Apply/channel">绿色通道</a></li>
            <li>回复申请</li>
        </ul>

        <div class="col-lg-12" style="background-color: #FFF; padding: 30px 10px" id="apply-reply">
            <a class="btn btn-info" style="margin: 5px 0" href="__PRO_PATH__/Apply/channel">返回</a>
            {include file="Apply/apply_form_reply" /}
            <div style="text-align: center;margin: 5px 30px">
                <a id="form-reply" class="btn btn-success" style="margin: 5px 30px" @click="submitReply(3)">回复</a>
                <a class="btn btn-primary" style="margin: 5px 30px"
                   data-toggle="tooltip" data-placement="top" title="图片不清晰、申请文件不全? 点击'讨论'，在线沟通。"
                   href="__PRO_PATH__/Chat/index?id={$id}">讨论</a>
                <a id="form-reject" class="btn btn-danger" style="margin: 5px 30px" @click="submitReply(4)">拒绝</a>
                <a class="btn btn-info" style="margin: 5px 30px" href="__PRO_PATH__/Apply/channel">返回</a>
            </div>
        </div>
    </div>
</div><!-- /main-container -->
{include file="Common/bottom" /}
{include file="Common/popup_list" /}
{include file="Common/calendar" /}
<script>
    $('#consultation-nav-channel').addClass('active');
    $(".flatpickr").flatpickr({time_24hr:true, readonly: false});
    var vm = new Vue({
        el: '#apply-reply',
        data: {
            id: '{$id}',
            status: '{$status}',
            apply_info: {},
            patient_info: {},
            source_hospital_info: {},
            source_doctor_info: {},
            target_hospital_info: {},
            target_office_info: [],
            target_doctor_info: [],
            reply: {
                id: '{$id}',
                status: '',
                source_user_id: '{$source_user_id}',
                consultation_result: '',
                update_time_str: '',
                price: 0
            },
            errors:{
                consultation_result: '',
                update_time: '',
                price: ''
            }
        },
        mounted:function () {
            $(function () {
                submit();
            });
            $(".flatpickr").flatpickr({time_24hr:false});
        },
        methods:{
            resetError: function () {
                $.each(vm.errors, function (k, v) {
                    vm.errors[k] = '';
                });
            },
            submitReply: function (value) {
                vm.resetError();
                vm.reply['status'] = value;
                vm.reply['update_time_str'] = $('#update_time').val();
                $.post('__PRO_PATH__/Apply/Reply', vm.reply, function (res) {
                    if(res.error_code == 0){
                        popWarn(res.msg, '__PRO_PATH__/Apply/channel');
                    } else{
                        $.each(res.errors, function (k, v) {
                            vm.errors[k] = v;
                        });
                    }
                })
            },
            markRead: function () {
                $.post("__PRO_PATH__/Apply/markRead", {ids: '{$id}'}, function (res) {
                    if(res.error_code == 0){
                    } else{
                        console.log(res.msg);
                    }
                });
            }
        },
        filters:{
            moment: function (value, formatString) {
                formatString = formatString || 'YYYY-MM-DD HH:mm';
                var time=new Date(parseInt(value) * 1000).format('yyyy年M月d日');
                return time;
            },
            getApplyStatus: function (value) {
                var ret = "";
                if(value==1){
                    ret = "待处理";
                }
                if(value==2){
                    ret = "处理中";
                }
                if(value==3){
                    ret = "会诊成功";
                }
                if(value==4){
                    ret = "会诊失败";
                }
                return ret;
            },
            getApplyType: function (value) {
                var ret = '';
                if(value == 1){
                    ret = '一般';
                }
                if(value == 2){
                    ret = '紧急';
                }
                return ret;
            },
            getApplyProject: function (value) {
                var ret = '';
                if(value == 1){
                    ret = '咨询';
                }
                else if(value == 2){
                    ret = '住院';
                }
                else if(value == 3){
                    ret = '手术';
                }
                return ret;
            },
            getChargeStatus: function (value) {
                var ret = '';
                if(value == 0){
                    ret = '未缴费';
                }
                if(value == 1){
                    ret = '已缴费';
                }
                return ret;
            },
            formatText: function (text, len) {
                return cutString(text, len);
            }
        }
    });

    // 异步提交数据
    function submit() {
        $.post('__PRO_PATH__/Apply/getApplyInfo', {id: vm.id}, function (res) {
            if (res.error_code == 0) {
                vm.apply_info = res.apply_info;
                vm.patient_info = res.patient_info;
                vm.source_doctor_info = res.source_doctor_info;
                vm.source_hospital_info = res.source_hospital_info;
                vm.target_hospital_info = res.target_hospital_info;
                vm.target_office_info = res.target_office_info;
                vm.target_doctor_info = res.target_doctor_info;
                vm.markRead();
            }
        });
    }
</script>
{else /}
<div class="main-container">
    <div class="padding-md">
        <span class="col-lg-12" style="font-size: larger; text-align: center">
			<strong>抱歉，您访问的页面不存在！</strong>
		</span>
    </div>
</div>
{include file="Common/bottom" /}
{/if}
