{include file="Common/top" title="首页" metas='' /}
{if condition="authority('Chat')"}
<style>
    .chat-input{
        height: 100px;
        width: 100%;
        resize: none;
        border: none;
        outline: none;
    }
    .toolbar{
        width: 100%;
        height: 30px;
        margin-top: 5px;
    }

    .toolbar ul{
        float: left;
        list-style: none;
        margin: 0;
        display: -webkit-box;
        -webkit-box-orient: horizontal;
    }

    .toolbar ul li{
        padding:5px;
    }

    .chat li .img{
        width: 100px;
        height: 100px;
        -webkit-border-radius: 0;
        padding-top: 5px;
    }
</style>
<script src="__PUBLIC__/js/multiple-select/multiple-select.js"></script>
<div class="main-container">
    <div class="padding-md">
        <ul class="breadcrumb">
            <li><span class="primary-font"><i class="icon-home"></i></span><a href="__PRO_PATH__/">首页</a></li>
            <li>在线互动</li>
        </ul>

        <div class="row" id="chat">
            {if condition="$error eq ''"}
            <div class="col-lg-12">
                <div class="smart-widget widget-purple">
                    <div class="smart-widget-header">
                        <i class="fa fa-comment"></i> {{chat_to_user.name}}
                        <span class="smart-widget-option">
                            <span class="refresh-icon-animated">
                                <i class="fa fa-circle-o-notch fa-spin"></i>
                            </span>
                            <a href="#" class="widget-toggle-hidden-option">
                                <i class="fa fa-cog"></i>
                            </a>
                            <a href="#" class="widget-collapse-option" data-toggle="collapse">
					            <i class="fa fa-chevron-up"></i>
                            </a>
                            <a href="javascript:;" class="widget-refresh-option" onclick="update()">
                                <i class="fa fa-refresh"></i>
                            </a>
                        </span>
                    </div>
                    <div class="smart-widget-inner">
                        <div class="smart-widget-hidden-section">
                            <ul class="widget-color-list clearfix">
                                <li style="background-color:#20232b;" data-color="widget-dark"></li>
                                <li style="background-color:#4c5f70;" data-color="widget-dark-blue"></li>
                                <li style="background-color:#23b7e5;" data-color="widget-blue"></li>
                                <li style="background-color:#2baab1;" data-color="widget-green"></li>
                                <li style="background-color:#edbc6c;" data-color="widget-yellow"></li>
                                <li style="background-color:#fbc852;" data-color="widget-orange"></li>
                                <li style="background-color:#e36159;" data-color="widget-red"></li>
                                <li style="background-color:#7266ba;" data-color="widget-purple"></li>
                                <li style="background-color:#f5f5f5;" data-color="widget-light-grey"></li>
                                <li style="background-color:#fff;" data-color="reset"></li>
                            </ul>
                        </div>
                        <div class="smart-widget-body">
                            <div id="chatScroll">
                                <template v-if="chat.length == 0">
                                    <a class="col-lg-12" href="javascript:;" style="text-align: center; margin: 10px 0">暂无会话记录</a>
                                </template>

                                <template v-else-if="receive_params['current_page'] != 1">
                                    <a class="col-lg-12" href="javascript:;" @click="loadMore" style="text-align: center; margin: 10px 0">加载更多···</a>
                                </template>

                                <ul class="chat">
                                    <template v-for="model in chat">
                                        <li :class="[model.source_user_id != vm3.user_id ? 'left' : 'right' ,'clearfix']">
                                        <span :class="['chat-img', model.source_user_id != vm3.user_id ? 'pull-left' : 'pull-right']">
                                            <img class="logo" :src="model.source_user_id != vm3.user_id ? chat_to_user.logo : chat_user.logo" :title="model.source_user_id != vm3.user_id ? chat_to_user.name : chat_user.name">
                                        </span>
                                            <div class="chat-body clearfix">
                                                <div class="header">
                                                    <strong :class="['primary-font', model.source_user_id != vm3.user_id ? 'pull-left' : 'pull-right']">{{model.source_user_id != vm3.user_id ? chat_to_user.name : chat_user.name}}</strong>
                                                    <small class="pull-right text-muted">
                                                        <i class="fa fa-clock-o"></i>
                                                        {{model.create_time | formatTime}}
                                                    </small>
                                                </div>
                                                <!-- 1 - text -->
                                                <template v-if="model.type == 1">
                                                    <p :class="['chat-img', model.source_user_id != vm3.user_id ? 'pull-left' : 'pull-right']">
                                                        {{model.content}}
                                                    </p>
                                                </template>
                                                <!-- 2 - image -->
                                                <template v-if="model.type == 2">
                                                    <a :href="model.content" :title="model.content_origin" data-lighter>
                                                        <img class="img" :src="model.content" :title="model.content_origin">
                                                    </a>
                                                </template>

                                                <!-- 3 - file -->
                                                <template v-if="model.type == 3">
                                                    <a :href="model.content">
                                                        <img class="img" src="__PUBLIC__/images/file.png" :title="model.content_origin">
                                                    </a>
                                                </template>
                                            </div>
                                        </li>
                                    </template>
                                </ul>
                            </div>
                        </div>
                        <div class="smart-widget-footer">
                            <div class="col-lg-12 toolbar">
                                <ul>
                                    <li>
                                        <div id="upload-pictures">
                                            <a id="picture" href="javascript:;" title="发送照片">
                                                <i class="fa fa-camera fa-lg"></i>
                                            </a>
                                        </div>

                                    </li>
                                    <li>
                                        <div id="upload-files">
                                            <a id="file" href="javascript:;" title="发送文件">
                                                <i class="fa fa-file-o fa-lg"></i>
                                            </a>
                                        </div>

                                </ul>
                            </div>
                            <div class="input-group">
                                <textarea id="btn-input" class="col-lg-12 chat-input" placeholder="请输入消息···" @keyup.13="enter($event)" v-model="content"></textarea>
                                <span class="input-group-btn">
                                    <button class="btn btn-success btn-sm no-shadow" id="btn-chat" style="height: 100px;">发送</button>
                                </span>
                            </div><!-- /input-group -->
                        </div><!-- ./smart-widget-footer -->
                    </div><!-- ./smart-widget-inner -->
                </div><!-- ./smart-widget -->
            </div><!-- ./col -->
            {else /}
            <div class="col-lg-12" style="text-align: center">{$error ?? ''}</div>
            {/if}
        </div>
    </div><!-- ./row -->
</div><!-- /main-container -->
{include file="Common/progress"}
{include file="Common/bottom" /}
{include file="Common/calendar" /}
{include file="Common/popup_warn" /}
{include file="Common/popup_list" /}
{include file="Common/calendar" /}
{include file="Common/upload" /}
<!-- Slimscroll -->
<script src='__PUBLIC__/js/jquery.slimscroll.min.js'></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/js/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/js/ueditor/ueditor.all.min.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/js/ueditor/lang/zh-cn/zh-cn.js"></script>
{if condition="$error eq ''"}
<script>
    $('#consultation-nav-chat').addClass('active');

    var vm = new Vue({
        el: '#chat',
        data: {
            to_send: false,
            params: {
                apply_id: "{$apply_id ?? ''}",
                target_user_id: "{$target_user_id ?? ''}",
                source_user_id: "{$source_user_id ?? ''}",
                type: '',
                content: '',
                content_origin: '',
                status: 0
            },
            receive_params:{
                apply_id: "{$apply_id ?? ''}",
                target_user_id: "{$target_user_id ?? ''}",
                source_user_id: "{$source_user_id ?? ''}",
                total: 0,
                per_page: 20,
                current_page: 0,
                pages: 0
            },
            item: '讨论4号病患的病情',
            content: '',
            chat_to_user: {
                id: "{$target_user_id ?? ''}",
                logo: '__PUBLIC__/images/profile/profile1.jpg',
                name: 'Jeremy'
            },
            chat_user: {
                id: vm3.user_id,
                logo: '__PUBLIC__/images/profile/profile2.jpg',
                name: 'Smith'
            },
            seen:{
            },

            errors:{

            },
            chat: [],
            list: [], // 用作暂存数据用
            receiveIds: [],

            readIds: []
        },
        mounted:function () {
            $(function () {
                update();
            });

            $(function () {
                setTimeout(function(){$('#chatScroll').slimScroll({
                    height: '300px',
                    start: 'bottom'
                })}, 500);
            });

            // comet实现
            $(function () {
                (function longPolling() {
                    $.ajax({
                        type:"POST",
                        url: "__PRO_PATH__/Chat/receive",
                        data: {
                            request_time: Date.parse(new Date()) / 1000,
                            apply_id: "{$apply_id ?? ''}",
                            target_user_id: "{$target_user_id ?? ''}",
                            source_user_id: "{$source_user_id ?? ''}"
                        },
                        dataType: "json",
                        timeout: 3000, //5秒超时，可自定义设置
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            if (textStatus == "timeout") { // 请求超时
                                longPolling(); // 递归调用
                            } else { // 其他错误，如网络错误等
                                longPolling();
                            }
                        },
                        success: function (res) {
                            if (res.error_code == 0) { // 请求成功
                                if (res.data.length != 0) {
                                    vm.receiveMsg(res.data);
                                }
                            }
                            longPolling();
                        }
                    });
                })();
            });

            $('#btn-chat').click(function () {
                if(vm.check()){
                    vm.send();
                }
            });

            chatUpload({
                container: 'upload-pictures',
                browse: 'picture',
                url: '__PRO_PATH__/Media/upload?dir=import',
                img_types: 'jpg,gif,png',
                zip_types: 'zip',
                file_size: '10mb',
                onUploaded: function (up, file, result) {
                    chageTitle('上传成功');
                    setTimeout("cancel()", 1000);
                    var res = JSON.parse(result.response);
                    console.log(file.name);
                    if(vm.pushMessage(2, res.result.file, file.name)){
                        vm.send();
                    }
                },
                isMulti: false
            });
            chatUpload({
                container: 'upload-files',
                browse: 'file',
                url: '__PRO_PATH__/Media/upload?dir=import',
                img_types: 'jpg,gif,png',
                zip_types: 'zip',
                file_size: '10mb',
                onUploaded: function (up, file, result) {
                    chageTitle('上传成功');
                    setTimeout("cancel()", 1000);
                    var res = JSON.parse(result.response);
                    console.log(file.name);
                    if(vm.pushMessage(3, res.result.file, file.name)){
                        vm.send();
                    }
                },
                isMulti: false
            });
        },

        methods: {
            /**
             * 检查输入的字符串是否合格
             */
            check: function () {
                if(ClearBr(vm.content) == '') {
                    return false;
                }
                vm.pushMessage(1, vm.content);
                return true;
            },
            /**
             *  显示发送信息
             */
            pushMessage: function (type, content, content_origin) {
                content_origin = content_origin || '';
                if(content == ''){
                    return false;
                }
                vm.params['type'] = type;
                vm.params['content'] = content;
                vm.params['content_origin'] = content_origin;
                vm.params['create_time'] = Date.parse(new Date()) / 1000;
                if(type == 1){
                    vm.content = '';
                }
                vm.to_send = true;
                vm.chat.push({'source_user_id': "{$source_user_id ?? ''}", 'target_user_id': "{$target_user_id ?? ''}", 'type': type, 'content': content, 'content_origin': content_origin, 'create_time': vm.params['create_time'], 'status': 0});
                return true;
            },

            /**
             * 获取对方未读信息
             */
            getReadIds: function () {
                vm.readIds = [];
                for(var i=0; i<vm.chat.length;i++){
                    if(vm.chat[i]['status'] == 0 && vm.chat[i]['target_user_id'] == vm.params['source_user_id']){
                        vm.readIds.push(vm.chat[i]['id']);
                    }
                }
                return vm.readIds.join(',');
            },

            /**
             * enter 键发送信息
             */
            enter:function(ev){
                if(ev.keyCode == 13 && vm.check()){
                    vm.send();
                }
                if(ev.keyCode == 13 && ! vm.check()){
                    vm.content = '';
                    ev.returnValue = false;
                }
            },

            /**
             * 标为已读
             */
            markRead: function () {
                if(vm.getReadIds() != ''){
                    $.post("__PRO_PATH__/Chat/markRead", {ids: vm.getReadIds()}, function (res) {
                        if(res.error_code == 0){
                            $('#chatScroll').slimScroll({
                                scrollTo : ($('#chatScroll ul').height())+'px'
                            });
                        } else{
                            console.log(res.msg);
                        }
                    });
                }
            },

            /**
             * 接收信息
             */
            receiveMsg: function (data) {
                for(var i=0; i<data.length; i++){
                    if($.inArray(data[i]['id'], vm.receiveIds) == -1){
                        vm.readIds.push(data[i]['id']);
                        vm.chat.push(data[i]);
                    }
                }
                vm.markRead();
            },

            /**
             * 发送信息
             */
            send: function () {
                $('#chatScroll').slimScroll({
                    scrollTo : ($('#chatScroll ul').height())+'px'
                });
                $.post("__PRO_PATH__/Chat/send", vm.params, function (res) {
                    if(res.error_code == 0){
                        vm.to_send = false;
                        $('#chatScroll').slimScroll({
                            scrollTo : ($('#chatScroll ul').height())+'px'
                        });
                    } else{
                        // 报错
                    }
                });
            },

            /**
             * 加载更多消息记录
             */
            loadMore: function () {
                vm.list = vm.chat;
                vm.chat = [];
                vm.receive_params['current_page'] = parseInt(vm.receive_params['current_page']) - 1;
                update();
                console.log('receiving ', vm.chat);
                for(var i=0; i<vm.list.length; i++){
                    vm.chat.push(vm.list[i]);
                    console.log(vm.chat);
                }

                console.log('after receive', vm.chat);
                vm.list = [];
                console.log(vm.chat.length, vm.receive_params['current_page']);
            }
        },

        filters:{
            formatTime: function (time) {
                if (!time) return '';
                var formatTime = '';
                var curTime = Math.ceil(new Date().getTime() / 1000);
                var interval = parseInt(curTime) - parseInt(time);
                if (interval >= 3600 * 24) {
                    formatTime = new Date(parseInt(time) * 1000).format('yyyy年M月d日 hh:mm');
                } else {
                    formatTime=new Date(parseInt(time) * 1000).format('hh:mm');
                }
                return formatTime;
            }
        }
    });

    /**
     * 接收信息
     */
    function update(){
        $.post("__PRO_PATH__/Chat/receive", vm.receive_params, function (res) {
            if(res.error_code == 0){
                vm.receiveMsg(res.data);
                vm.receive_params['total'] = res.total;
                vm.receive_params['pages'] = Math.ceil(res.total / vm.receive_params['per_page']);
                vm.receive_params['current_page'] = res.current_page;
            } else{
                popWarn(res.msg);
            }
        });
    }
</script>
{/if}
{else /}
<div class="main-container">
    <div class="padding-md">
        <span class="col-lg-12" style="font-size: larger; text-align: center">
			<strong>抱歉，您访问的页面不存在！</strong>
		</span>
    </div>
</div>
{include file="Common/bottom" /}
{/if}
